# Introduction of the k nearest neighbours

## Dataset

+ Read the file 'paris_airbnb.csv' in a Dataframe named paris_listings.
+ Display the first line of paris_listings.

In [2]:
# DataFrame.iloc[] to return a line from the desired position

In [2]:
import pandas as pd

paris_listings = pd.read_csv('../data/paris_airbnb.csv')
print(paris_listings.iloc[0])

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                   1
latitude                        48.8335
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                              0
bathrooms                             1
beds                                  0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

## Euclidean Distance

+ Calculate the Euclidean distance between our accommodation which can accommodate 3 people and the first accommodation of the dataFrame paris_listings.
+ Assign the result to the first_distance variable and display the result.

In [6]:
# numpy.abs()  to calculate the absolute value

In [3]:
import numpy as np

our_acc_value = 3
first_living_space_value = paris_listings.iloc[0]['accommodates']

first_distance = np.abs(first_living_space_value - our_acc_value)
print(first_distance)

1

## Calculate the distance for all observations

+ Calculate the distance between each value in the'accommodates' column of paris_listings and value 3 (which is the number of people that can accommodate our accommodation):
 - Use the **apply** method to calculate the absolute value between each value of'accommodates' and 3 and return a new Series object containing the distance values.
+ Assign the distance values to the'distance' column of the dataframe.
+ Use the Series value_counts() method and display the count of each unique value in the'distance' column.

In [8]:
# df['accommodates'].apply(lambda x: x + 2) returns a new Series object 
# where each original value in the "accommoates" column is 2 more

In [4]:
new_listing = 3
paris_listings['distance'] = paris_listings['accommodates'].apply(lambda x: np.abs(x - new_listing))
print(paris_listings['distance'].value_counts())

1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: distance, dtype: int64

In [5]:
paris_listings[paris_listings['distance'] == 0]["accommodates"]

3       3
7       3
13      3
14      3
18      3
       ..
7907    3
7938    3
7948    3
7958    3
7989    3
Name: accommodates, Length: 878, dtype: int64

## Randomize and sort

+ We start by placing ourselves on the same seed: np.random.seed(1)
+ Randomize the order of the betting lines_listings:
 - Use the np.random.permutation() function to return a NumPy array of mixed index values.
 - Use the method on Dataframe loc[] to return a new DataFrame containing the mixed order.
 - Assign the new Dataframe again to paris_listings.
+ After randomizing, sort paris_listings on the'distance' column with the method sort_values().
+ Display the first 10 values in the'price' column.

In [8]:
np.random.permutation(len(paris_listings))

array([5596, 5736, 2098, ..., 1503, 2631, 1456])

In [9]:
np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]
paris_listings = paris_listings.sort_values('distance')
#paris_listings.iloc[0:10]['price']

In [10]:
paris_listings.sort_values('distance')

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
1956,100%,NaN,2.0,48.87572,2.35423,Paris,75010,Île-de-France,3,Entire home/apt,1.0,1.0,3.0,$80.00,$25.00,$100.00,2,120,60,0
963,NaN,NaN,1.0,48.89270,2.34227,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$80.00,$25.00,$300.00,7,30,10,0
3977,89%,NaN,1.0,48.89650,2.31881,Paris,75017,Île-de-France,3,Entire home/apt,2.0,1.0,2.0,$65.00,NaN,NaN,2,7,14,0
318,100%,NaN,1.0,48.84635,2.34198,Paris,75005,Île-de-France,3,Entire home/apt,1.0,1.0,3.0,$97.00,$65.00,"$2,850.00",365,1125,44,0
6688,100%,NaN,2.0,48.84682,2.34657,Paris,75005,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$100.00,$40.00,$250.00,30,360,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3058,100%,NaN,1.0,48.83392,2.30853,Paris,75015,Île-de-France,14,Entire home/apt,1.0,1.5,8.0,$300.00,$150.00,$400.00,1,20,117,11
887,NaN,NaN,2.0,48.82438,2.35859,Paris,75013,Île-de-France,14,Entire home/apt,3.0,1.0,2.0,$99.00,$371.00,NaN,1,1125,1,11
7167,100%,NaN,4.0,48.86689,2.36066,Paris,75003,Île-de-France,16,Entire home/apt,1.0,0.5,1.0,$800.00,$60.00,$600.00,2,45,8,13
7436,47%,NaN,3.0,48.87692,2.37166,Paris,NaN,Île-de-France,16,Entire home/apt,4.0,2.5,4.0,$800.00,$140.00,$750.00,1,1125,4,13
2785,92%,NaN,1.0,48.87008,2.37616,Paris,75011,Île-de-France,16,Entire home/apt,3.0,2.0,3.0,$250.00,$75.00,"$2,000.00",1,1125,34,13

In [7]:
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

In [1]:
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

NameError: name 'paris_listings' is not defined

## Average price

+ Delete commas and dollar signs from the'price' column:
 - Use the str accessor so that we can apply the string method followed by the character replacement method to each value in the previous column: stripped_commas = paris_listings['price'].str.replace(',',''')
 - Repeat the operation to delete the $ signs.
+ Convert the new Series object containing the cleaned values into a float and assign the result to the'price' column of the paris_listings dataframe.
+ Calculate the average of the 5 values in the'price' column and assign the result to the mean_price variable.
+ Display the result.

In [21]:
# .mean() to calculate the average of a Series object

In [14]:
stripped_commas = paris_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
paris_listings['price'] = stripped_dollars.astype('float')
mean_price = paris_listings.iloc[0:5]['price'].mean()
print(mean_price)

94.0

## Function to make predictions

+ Write a function called predict_price that uses the Machine Learning technique of the nearest k neighbours to calculate the suggested price for any value of the number of people the dwelling can accommodate. 
+ This function must:
 - Take a single parameter, new_listing, the number of people that can accommodate the accommodation. 
 - I also added code that assigns paris_listings to a new DataFrame named temp_df. We use the pandas.DataFrame.copy() method so that the previous dataframe is assigned to the variable temp_df, instead of just referring to paris_listings.
 - Calculate the distance between each value in the'accommodates' column and the new_listing value passed as a function parameter. Assign the resulting Series object to the'distance' column of temp_df.
 - Sort temp_df on the distance column and select the first 5 values from the price column. Do not randomize the order of temp_df.
 - Calculate the average of these 5 values and return this value as an output of the predict_price function.
+ Use the predict_price function to suggest a price for a suitable accommodation:
 - 1 person, assign this result to the acc_one variable.
 - 2 persons, assign this result to the variable acc_two.
 - 4 persons, assign this result to the acc_four variable.

In [15]:
def predict_price(new_listing):
    temp_df = paris_listings.copy()
    # Compléter la fonction.
    return(predicted_price)

In [17]:
import numpy as np
import pandas as pd
np.random.seed(1)

paris_listings = pd.read_csv('../data/paris_airbnb.csv')
stripped_commas = paris_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
paris_listings['price'] = stripped_dollars.astype('float')
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

def predict_price(new_listing):
    temp_df = paris_listings.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)

print(acc_one)
print(acc_two)
print(acc_four)

69.6
105.4
104.6